<h1>Delete Book</h1>
<%= render 'form', book: @book %>
<!--<%= form_for(@book, :method => 'delete') do |f| %>-->

<p>Are you sure you want to delete this book?</p>


<%= link_to 'Back', books_path %>
<!--<% end %>-->
