<h1>Delete Book</h1>
<div class="subjects delete">
    <%= form_for(@book, :method => 'delete') do |f| %>

    <p>Are you sure you want to delete this book?</p>
    <p><%= @book.title %> </p>
    
    <%= f.submit("Delete Subject") %> 
    <%= link_to 'Back', books_path %>

    <% end %>
</div>
